section.word {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  section.word p {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 300;
    border: 2px solid #000;
    width: 200px;
    font-size: 2em;
    text-align: center;
    margin: 0;
  }
  section.word p:hover {
    background-color: #aaa;
  }
